body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(199,15,15,1) 35%, rgba(0,212,255,1) 100%);
}

.all {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(199,15,15,1) 35%, rgba(0,212,255,1) 100%);
}

:link:link, a:visited, a:focus {
    background: linear-gradient(90deg, rgba(219, 5, 87, 0.692) 0%, rgba(199,15,15,1) 35%, rgba(0,212,255,1) 100%);
  }
  
  :link:hover {
    background: orange;
  }
  
  :link:active {
    background: red;
    color: white;
  }