.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:hsl(205, 78%, 60%);
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#0a464d;
}

.paginacion ul li .active {
	background:#0a464d;
	font-weight:bold;
}